body{
    margin: 0;
    padding: 0;
}

.floating-nfts{
  width: 100px;
  height: 100vh;
  video{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}